/* CSS de responsividade das definições globais do projeto */

/* XS */
@media(min-width: 576px) {

}

/* SM */
@media(min-width: 576px) and (max-width: 768px) {

	.imgfooter{
		display: block !important;
		float: none !important;
		max-width: 50px !important;
		margin-left: auto !important;
		margin-right: auto !important;
	} 

	#e404 {
		width: 450px !important;
		height: 350px !important;
	}

}

/* MD */
@media(min-width: 768px) and (max-width: 992px) {
	
}

/* LG */
@media(min-width: 992px) and (max-width: 1200px) {

}

/* XL */
@media(min-width:1200px) {

}
