/*  AZUL                 #07243B
    ROXO                 #2F0D33
    ROXO MUITO ESCURO    #1F0025
    ROXO QUEIMADO        #a5404d
    ROSA CORAL QUEIMADO  #d05b4f
    ROSA PINK QUEIMADO   #bc4a57
    ROSA                 #cb4b57
    CORAL                #dc6a55  */


    body {
    	font-family: Century Gothic !important;
    	background-color: #2F0D33 !important;
      margin: none;
      padding: none;
    }

.llama{
     width: 32px;
    height: 32px;
    background: url( 'https://alpack.it/images/loading.png' ) 0 0;
  background-size:1700%;
    animation: walk 2s steps( 17, end ) infinite;
    display:inline-block;
}

    .titulo_padrao {
    	text-align: center;
    	margin-bottom: 50px;
    	color: #d05b4f;
    	font-weight: 900;
    }

    .links_navbar {
    	font-family: Century Gothic;
    }

    .forms {
    	margin: 60px auto 60px auto;
    	width: 440px;
    	background-color: white;
    	padding: 30px;
    	border: 3px solid #a5404d;
    	border-radius: 15px;
    }


    label {
    	font-weight: 900;
    	color: #d05b4f;
    }

    .inputs {
    	margin-bottom: 5px;
    	width: 100%;
    	height: 40px !important;
    	outline: none;
    	border-radius: 5px;
    	border: 2px solid #a5404d !important;
    	padding: 10px !important;
    	font-weight: 900;
    }

    .btn_padrao {
    	background-color: #d05b4f !important;
    	border: 3px solid #a5404d !important;
    	color: white !important;
    	font-weight: 800 !important;
      outline: none !important;
    }

    .btn_padrao:hover {
      background-color: #bc4a57 !important;
      border: 3px solid #bc4a57 !important;
    }

    a:link {
    	font-weight: 900;
    	color: #d05b4f;
      text-decoration: none;
    }

    a:hover {
    	font-weight: 900;
    	color: #d05b4f;
      text-decoration: none;
    }

    a:visited {
      font-weight: 900;
      color: #d05b4f;
      text-decoration: none;
    }

    footer {
      width: 100%;
      font-weight: bold;
    }

    .imgfooter {
      width: 54px;
      margin-left: 50px;
      margin-top: 10px;
      /*background-color: white;*/
      padding: 10px;
    }

    #e404 {
      margin: 80px auto 80px auto;
      width: 700px;
      height: 410px;
      background-color: white;
      padding: 30px;
      border: 3px solid #a5404d;
      border-radius: 15px;
      text-align: center;
    }


 


