
.card{
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    border-color: #ebbf31;
    padding: 10px;
    width: 500px;

}

.card-title {
    border-bottom: 1px solid #ebbf31;
}

.card-text {
    text-align: left !important;
}


#like {
    max-width: 60%;
}

#deslike {
   max-width: 60%;

}

#foto {
    border-radius: 100%;
    border-color: firebrick;
    width: 300px;
    height: 300px;
}

#botao {
    border-radius: 100%;

}

/*::-webkit-scrollbar {
    scroll-margin-right: 10px!important;
    background-color: #0b2e13;
    height: 20px;
    }*/

    #jp {
        background-color:#ebbf31;
        border-radius: 2px;
    }

    input[type=range] {
      -webkit-appearance: none;
      appearance: none;
      display: inline-block;

      height: 5px;
      position: relative;

      border-radius: 5px;
      background-color: #ebbf31;
      outline: none;
  }

  input[type=range]::-webkit-slider-thumb{
      border-radius: 50%;
  }

  #Aceita_pagar::-webkit-slider-thumb{

      all:unset; /* limpa os estilos iniciais */
      -webkit-appearance: none; /* remove a aparencia padão */
      border: none;

      width: 20px;
      height: 20px;
      border-radius: 0%;
      background: #ebbf31;
  }

  #filtros {
    height: 600px;
    width: 280px;
}
