content{
    background-color: lavenderblush;
}

.card{
    margin-left: auto;
    margin-right: auto;
    border-radius: 30px;
    border-color: yellow;

}


#like {
    max-width: 80%;



}



#deslike {
 max-width: 80%;

}
#foto {
    border-radius: 100%;
    border-color: firebrick;
}
#botao {
    border-radius: 100%;

}
::-webkit-scrollbar {
    scroll-margin-right: 10px!important;
    background-color: #0b2e13;
    height: 20px;
}
#jp {
    background-color: yellow;
    border-radius: 2px;
}
input[type=range] {
    -webkit-appearance: none;
    appearance: none;
    display: inline-block;

height: 5px;
    position: relative;

    border-radius: 5px;
    background-color: yellow;
    outline: none;
}

input[type=range]::-webkit-slider-thumb{
    border-radius: 50%;
}
#Aceita_pagar::-webkit-slider-thumb{

    all:unset; /* limpa os estilos iniciais */
    -webkit-appearance: none; /* remove a aparencia padão */
    border: none;

    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: yellow;
}